{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
      <div class="media-body">
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>
      </div>
    </div>
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Profile Info</legend>
      {{ u_form|crispy }}
      <br>
      <h4>Profile Settings</h4>
      {# posts_private checkbox #}
      {{ p_form.posts_private|as_crispy_field }}

      {# trusted_users textarea #}
        <div class="mb-3">
        {{ p_form.trusted_users|as_crispy_field }}
        </div>
    </fieldset>

    <button class="btn btn-outline-info" type="submit">Update</button>
    </form>
    <br>
    <a href="{% url 'two_factor:profile' %}">Configure 2FA</a>
</div>
{% endblock content %}